html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
}
img {
	object-fit: cover;
	width: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	cursor: pointer;
	border: none;
	padding: 12px 16px;
	font-family: inherit;
	font-size: inherit;
	border-radius: 4px;
}
/* Grid */
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1rem;
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
}
/* Header */
header {
	background-color: #111111;
	color: #ffffff;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin-bottom: 2rem;
}
header h1 {
	margin: 0;
}
/* Form */
form {
	text-align: left;
	max-width: 360px;
	margin: 0 auto;
}
input {
	padding: 10px 8px;
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	margin-bottom: 1rem;
	width: 100%;
}
label {
	display: block;
	margin-bottom: 0.5rem;
}
form button {
	display: block;
	width: 100%;
}
/* Image */
.itemCard_thumbnail {
	max-width: 274px;
	height: 274px;
	overflow: hidden;
	background-color: #f5f5f5;
}
/* Filter */
.filter {
	margin-bottom: 2rem;
}
.filter button {
	margin: 0 0.5rem;
}
/* ItemCard */
.itemCard p {
	margin: 0;
}
.itemCard .price {
	font-weight: 700;
	font-size: 1.5rem;
}
.itemCard .category {
	opacity: 50%;
}
.itemCard_info .name a {
	font-size: 1.25rem;
	/* color: indianred; */
}
.itemCard_info {
	margin: 1rem 0;
}
/* UserInfo */
.userInfo .avatar {
	max-width: 60px;
	margin: 0.5rem 0;
}
.userInfo .username {
	display: block;
}
.userInfo ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}
.userInfo ul li {
	margin-right: 2rem;
	font-size: 1.25rem;
}
